<%= f.error_messages %>

<div class="form-item"><label for="name"><%=_('Name')%></label><br/>
  <%= f.text_field :name %><hr/></div>

<div class="form-item"><label for="short_description"><%=_('Short description')%></label><br/>
  <%= f.text_field :short_description %><hr/></div>

<div class="form-item"><label for="clubtag_list"><%=_('Club tags')%></label><br/>
  <%= f.text_field :clubtag_list %><hr/></div>

<div class="form-item"><label for="carmake_list"><%=_('Car makes')%></label><br/>
  <%= f.text_field :carmake_list %><hr/></div>

<div class="form-item"><label for="region_list"><%=_('Region')%></label><br/>
  <%= f.text_field :region_list %><hr/></div>

<div class="form-item"><label for="public"><%=_('Public')%></label><br/>
  <%= f.check_box :public %><hr/></div>

<div class="form-item"><label for="description"><%=_('Description')%></label><br/>
  <%= f.text_area :description %><hr/></div>



<div class="form-item">
  <%= image_tag @club.logo.url(:thumb) %><br/>
  <label for="logo"><%=_('Logo')%></label><br/>
  <%= f.file_field :logo, :size=>15 %><hr/></div>

<p>
<div class="form-item"><%= submit_tag _('Save') %></div>
</p>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function(){

    $('textarea#club_description').markItUp(mySettings);
    $('#club_clubtag_list').autocomplete('/clubs/findclubtag', {
      multiple: true,
      mustMatch: true,
      autoFill: true
    });
    $('#club_carmake_list').autocomplete('/clubs/findcarmake', {
      multiple: true,
      mustMatch: true,
      autoFill: true
    });


  }
);
</script>
