<div id ="club-header">
  <div id="club-logo">
    <%= image_tag(@club.logo.url(:club)) %>
  </div>
  <h3 id="club-title">
    <% if admin_or_current? @user %>
      <%= link_to("",edit_club_path(@club), :class => "image-edits edit")%>
    <% end %>
    <%= @club.name %>
  </h3>
  <div id="club-description">
    <%= @club.description %>

    <%= render :partial => "layouts/share", :locals => {:url => CGI::escape(request.url)} %>

  </div>
</div>

<div class="club-tabs-wrapper">
  <div id="club-tabs">
    <ul class="wide-tabs">
      <li><a href="#intro" class="intro"><%= _("Introduction") %></a></li>
      <li><a href="#shoutbox" class="shoutbox"><%= _("Shoutbox") %></a></li>
      <li><a href="#members" class="members"><%= _("Members") %></a></li>
      <li><a href="<%= club_meetings_path @club %>" class="meetings" title="meetings"><%= _("Meetings") %></a></li>
    </ul>

    <div id="intro">
      IDE Mi jön?
    </div>

    <div id="shoutbox">

      <%= render :partial => "shouts/form", :locals => { :club => @club, :user => current_user } if current_user %>

      <%= render :partial => "shouts/index", :locals => { :shouts => @shouts } %>

    </div>

    <div id="members">

      <div class="membergroup">
        <h3 class="membergroup"><%= _("Current members") %></h3>
        <% @club.members.each do |member| %>
          <%= render :partial => 'member', :locals => {:u => member} %>
        <% end %>
        <h3 class="membergroup"><%= _("Pending members") %></h3>
        <% @club.pending_members.each do |member| %>
          <%= render :partial => 'pending_member', :locals => {:u => member} %>
        <% end %>
      </div>

      <%= link_to(_('Member request'), add_user_club_path(@club)) %>
    </div>

    <div id="meetings">

    </div>

    <hr class="clear"/>
  </div>
</div>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function(){

    $('#club-tabs').tabs({ cache: true });

  });
</script>
