<div class="crumbs" xstyle="margin-top:1.1em;">
  <%= link_to _('Forum'), forums_path %> &raquo;
</div>

<h1><%= @forum.name %></h1>
<p class="description"> <%= @forum.description %> </p>

<div id="forum-wrapper">
  <table id="forums">
    <thead>
      <tr>
        <th style="width:80%">Topic</th>
        <th>Comments</th>
        <th>Last comment</th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic|%>
        <tr>
          <td class="forumicon<%= " new" if recent_topic_activity(topic) %>">
            <%= link_to h(topic.title), topic_path(@forum, topic), :class => "title" %>
          </td>
          <td class="num"><%= topic.comments_count %></td>
          <td class="num"><%= topic.updated_at %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>

  <ul class="links">
    <li><%= link_to 'New topic', new_topic_path(@forum) %></li>
  </ul>

  <%= will_paginate @topics %>