<h1>New meeting</h1>

<% form_for(@meeting, :url => club_meetings_path(params[:club_id])) do |f| %>
  <%= f.error_messages %>

  <div class="form-item">
    <%= f.label :title, _("Title") %><br />
    <%= f.text_field :title %><hr/>
  </div>
  <div class="form-item">
    <%= f.label :description, _("Description") %><br />
    <%= f.text_area :description %><hr/>
  </div>
  <div class="form-item">
    <%= f.label :startdate, _("Starting date") %><br />
    <%= f.text_field :startdate, :class => "datepicker" %><hr/>
  </div>
  <div class="form-item">
    <%= f.label :country, _("Country") %><br />
    <%= f.text_field :country %><hr/>
  </div>
  <div class="form-item">
    <%= f.label :city, _("City") %><br />
    <%= f.text_field :city %><hr/>
  </div>
  <div class="form-item">
    <%= f.label :address, _("Address") %><br />
    <%= f.text_field :address %><hr/>
  </div>
  <div class="form-item">
    <%= f.submit _('Create') %><hr/>
  </div>
<% end %>

<%= link_to 'Back', club_meetings_path %>