<%= _('Your account has been created.') %><br/>
<br/>
<strong><%= _('Nickname') %>:</strong> <%= @user.login %><br/>
<strong><%= _('Password') %>:</strong> <%= @user.password %><br/>
<br/>
<%= _('Visit this url to activate your account') %>:<br/>
<br/>
<a href="<%= @url %>"><%= @url %></a>