<div class="grid_6 alpha">
  <h3 class="block-header"><%= _("Latest headlines") %> </h3>
  <div class="lightblue-block" id="rss-list">
    <div class="child">
      <%= render :partial => 'layouts/newslist', :locals => { :news => @news }  %>
      <%= will_paginate @news %>
    </div>
  </div>
</div>

<div class="grid_6 omega">
  <h3 class="block-header"><%= _("Most viewed") %> </h3>
  <div class="lightblue-block" id="rss-list-by-hits">
    <div class="child">
      <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits }  %>
      <%= will_paginate @news_by_hits, :param_name => :page_by_hits %>
    </div>
  </div>
</div>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function(){

    $('#rss-list .pagination a').ajaxLoad('#rss-list', '#rss-list .child');
    $('#rss-list-by-hits .pagination a').ajaxLoad('#rss-list-by-hits', '#rss-list-by-hits .child'); 

  });

</script>
