<div class="grid_6 alpha">
  <div class="block-header"><h3><%= _("Latest headlines") %></h3></div>
  <div class="lightblue-block newsblock" id="rss-list">
    <ul>
      <li><a href="#tabs-hu" class="hu"></a></li>
      <li><a href="#tabs-en" class="en"></a></li>
    </ul>

    <div id="tabs-hu">
      <div class="child">
        <%= render :partial => 'layouts/newslist', :locals => { :news => @news_hu }  %>
        <%= will_paginate @news_hu %>
      </div>
    </div>
    <div id="tabs-en">
      <div class="child">
        <%= render :partial => 'layouts/newslist', :locals => { :news => @news_en }  %>
        <%= will_paginate @news_en %>
      </div>
    </div>
  </div>
</div>

<div class="grid_6 omega">
  <div class="block-header"><h3><%= _("Most viewed") %></h3></div>
  <div class="lightblue-block newsblock" id="rss-list-by-hits">

    <ul>
      <li><a href="#tabs-hits-monthly" class="monthly"><%= _('Month') %></a></li>
      <li><a href="#tabs-hits-weekly" class="weekly"><%= _('Week') %></a></li>
      <li><a href="#tabs-hits-daily" class="daily"><%= _('Day') %></a></li>
    </ul>

    <div id="tabs-hits-monthly">
      <div class="child">
        <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_monthly }  %>
        <%= will_paginate @news_by_hits_monthly, :param_name => :page_by_hits %>
      </div>
    </div>

    <div id="tabs-hits-weekly">
      <div class="child">
        <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_weekly }  %>
        <%= will_paginate @news_by_hits_weekly, :param_name => :page_by_hits %>
      </div>
    </div>

    <div id="monthly_english">
      <div class="child">

      </div>
    </div>

    <div id="tabs-hits-daily">
      <div class="child">
        <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_daily }  %>
        <%= will_paginate @news_by_hits_daily, :param_name => :page_by_hits %>
      </div>
    </div>

    <div id="daily_english">
      <div class="child">

      </div>
    </div>
    
  </div>
</div>

<div class="grid_12 alpha omega" id="aggregators">
  <div class="hu">
    <% @rssreaders_hu.each do |rssreader| %>
      <%= link_to rssreader.name, rssreader, :class => "rssreader" %>
    <% end -%>
  </div>
  <div class="en">
    <% @rssreaders_en.each do |rssreader| %>
      <%= link_to rssreader.name, rssreader, :class => "rssreader" %>
    <% end -%>
  </div>
</div>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function(){

    $('#tabs-hu .pagination a').ajaxLoad('#tabs-hu', '#tabs-hu .child');
    $('#tabs-en .pagination a').ajaxLoad('#tabs-en', '#tabs-en .child');
    $('#tabs-hits-monthly .pagination a').ajaxLoad('#tabs-hits-monthly', '#tabs-hits-monthly .child');
    $('#tabs-hits-daily .pagination a').ajaxLoad('#tabs-hits-daily', '#tabs-hits-daily .child');
    $('#monthly_english .pagination a').ajaxLoad('#monthly_english', '.child');
    $('#daily_english .pagination a').ajaxLoad('#daily_english', '.child');

    $('#rss-list').tabs({remote:true});
    $('#rss-list-by-hits').tabs({remote:true});

  });

</script>
