<div class="grid_6 alpha">
  <div class="block-header"><span class="fejkep rss"></span><h3><%= _("Latest headlines") %></h3></div>
  <div class="lightblue-block newsblock" id="rss-list">
    <ul>
      <li><a href="#tabs-hu" class="hu"></a></li>
      <li><a href="#tabs-en" class="en"></a></li>
    </ul>

    <div id="tabs-hu">
      <div class="child">
        <%= render :partial => 'layouts/newslist', :locals => { :news => @news_hu }  %>
        <%= will_paginate @news_hu %>
      </div>
    </div>
    <div id="tabs-en">
      <div class="child">
        <%= render :partial => 'layouts/newslist', :locals => { :news => @news_en }  %>
        <%= will_paginate @news_en %>
      </div>
    </div>
  </div>
</div>

<div class="grid_6 omega">
  <div class="block-header"><span class="fejkep freshnews"></span><h3><%= _("Most viewed") %></h3></div>
  <div class="lightblue-block newsblock" id="rss-list-by-hits">
    <ul>
      <li><a href="#tabs-hits-hu" class="hu"></a></li>
      <li><a href="#tabs-hits-en" class="en"></a></li>
    </ul>

    <div id="tabs-hits-hu" class="innertab">


      <ul>
        <li><a href="#tabs-hits-hu-monthly" class="monthly"><%= _('Month') %></a></li>
        <li><a href="#tabs-hits-hu-weekly" class="weekly"><%= _('Week') %></a></li>
        <li><a href="#tabs-hits-hu-daily" class="daily"><%= _('Day') %></a></li>
      </ul>

      <div id="tabs-hits-hu-monthly">
        <div class="child">
          <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_monthly }  %>
          <%= will_paginate @news_by_hits_monthly, :param_name => :page_by_hits %>
        </div>
      </div>
      <div id="tabs-hits-hu-weekly">
        <div class="child">
          <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_weekly }  %>
          <%= will_paginate @news_by_hits_weekly, :param_name => :page_by_hits %>
        </div>
      </div>
      <div id="tabs-hits-hu-daily">
        <div class="child">
          <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_daily }  %>
          <%= will_paginate @news_by_hits_daily, :param_name => :page_by_hits %>
        </div>
      </div>


    </div>


    <div id="tabs-hits-en" class="innertab">

      <ul>
        <li><a href="#tabs-hits-en-monthly" class="monthly"><%= _('Month') %></a></li>
        <li><a href="#tabs-hits-en-weekly" class="weekly"><%= _('Week') %></a></li>
        <li><a href="#tabs-hits-en-daily" class="daily"><%= _('Day') %></a></li>
      </ul>

      <div id="tabs-hits-en-monthly">
        <div class="child">
          <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_en_monthly }  %>
          <%= will_paginate @news_by_hits_en_monthly, :param_name => :page_by_hits %>
        </div>
      </div>
      <div id="tabs-hits-en-weekly">
        <div class="child">
          <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_en_weekly }  %>
          <%= will_paginate @news_by_hits_en_weekly, :param_name => :page_by_hits %>
        </div>
      </div>
      <div id="tabs-hits-en-daily">
        <div class="child">
          <%= render :partial => 'layouts/newslist', :locals => { :news => @news_by_hits_en_daily }  %>
          <%= will_paginate @news_by_hits_en_daily, :param_name => :page_by_hits %>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="grid_12 alpha omega" id="aggregators">
  <div class="hu">
    <% @rssreaders_hu.each do |rssreader| %>
      <%= link_to rssreader.name, rssreader, :class => "rssreader" %>
    <% end -%>
  </div>
  <div class="en">
    <% @rssreaders_en.each do |rssreader| %>
      <%= link_to rssreader.name, rssreader, :class => "rssreader" %>
    <% end -%>
  </div>
</div>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function(){

    $('#tabs-hu .pagination a').ajaxLoad('#tabs-hu', '#tabs-hu .child');
    $('#tabs-en .pagination a').ajaxLoad('#tabs-en', '#tabs-en .child');

    $('#tabs-hits-hu-monthly .pagination a').ajaxLoad('#tabs-hits-hu-monthly', '#tabs-hits-hu-monthly .child');
    $('#tabs-hits-hu-weekly .pagination a').ajaxLoad('#tabs-hits-hu-weekly', '#tabs-hits-hu-weekly .child');
    $('#tabs-hits-hu-daily .pagination a').ajaxLoad('#tabs-hits-hu-daily', '#tabs-hits-hu-daily .child');

    $('#tabs-hits-en-monthly .pagination a').ajaxLoad('#tabs-hits-en-monthly', '#tabs-hits-en-monthly .child');
    $('#tabs-hits-en-weekly .pagination a').ajaxLoad('#tabs-hits-en-weekly', '#tabs-hits-en-weekly .child');
    $('#tabs-hits-en-daily .pagination a').ajaxLoad('#tabs-hits-en-daily', '#tabs-hits-en-daily .child');

    $('#rss-list').tabs({remote:true});
    $('#rss-list-by-hits').tabs({remote:true});
    $('#rss-list-by-hits #tabs-hits-hu').tabs({remote:true});
    $('#rss-list-by-hits #tabs-hits-en').tabs({remote:true});

  });

</script>
