<%= f.error_messages %>

<div class="form-item"><label for="title"><%=_('Title')%></label><br/>
  <%= f.text_field :title %><hr/></div>

<div class="form-item"><label for="description"><%=_('Description')%></label><br/>
  <%= f.text_area :description %><hr/></div>


<p>
<div class="form-item"><%= submit_tag _('Save') %></div>
</p>
<hr class="clear" />
