<div class="grid_9 alpha" id="layout-left">
  <div class="orangebox">

    <div id="car-gallery">
      <div id = "car-photo">
        <%= image_tag(@advert.carimages.first.image.url(:car)) if @advert.carimages.first %>
      </div>

      <h3 id="car-title">
        <%= @advert.title %>
        <% if admin_or_current? @user %>
          <%= link_to("",edit_marketplace_path(@advert), :class => "image-edits edit")%>
          <%= link_to("",new_marketplace_adimage_path(@advert), :class => "image-edits add")%>
        <% end %>
      </h3>




      <div id="car-gallery-box">
        <div class="inner">
          <% @advert.carimages.each do |image| %>
            <div class="item" id="item_<%= image.id %>">
              <%= link_to(image_tag(image.image.url(:thumb), :class=>"image-thumb", :title => image.title),
                image.image.url(:full), :class => "colorbox", :rel=>"gallery")%>
              <% if admin_or_current? @user %>
                <div class="image-admin">
                  <div class="arrowcross"></div>
                  <%= link_to '',
                    edit_marketplace_adimage_path(@advert, image),
                    :class => "edit"%>

                  <%= link_to '',
                    marketplace_adimage_path(@advert, image),
                    :confirm => _('Are you sure?'), :method => 'delete', :class => "edit" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="car-description" class="ad">

      <div class="block-header fix small"><h3><%= _("Description") %></h3></div>
      <div class="inner">
        <%= @advert.description %>
      </div>
    </div>

    <hr class="clear" />
  </div>
</div>

<div class="grid_3 omega" id="layout-right">
  <div class="lightblue block">
    <div class="block-header fix small">
      <h3><%= _("Last submitted") %></h3>
    </div>
    <% @last5.each do |ad| %>
      <%= render :partial => "last5item", :locals => {:ad => ad} %>
    <%end%>
    <hr class="clear"/>
  </div>
</div>


<script type="text/javascript">// <![CDATA[
  $(document).ready(function(){

    $('a.image-edits.add').colorbox();

  });

<% if admin_or_current? @user %>

    $('.image-admin a.edit').colorbox();
    $('#car-gallery-box .item').hover(function(){
      $(this).children('.image-admin').fadeIn(200);
    }, function(){
      $(this).children('.image-admin').fadeOut(200);
    });

    AUTH_TOKEN=('<%=u form_authenticity_token%>');
    $('#car-gallery-box').unselectable();
    $('#car-gallery-box .inner').sortable({ items:'.item',
      update: function() {
        $.post('<%= marketplace_adimages_path(@advert) %>/sort', '_method=put&authenticity_token='+AUTH_TOKEN+'&'+$(this).sortable('serialize'));
        // location.reload();
      }});

<% end %>

</script>
