<div class="grid_3 alpha" id="profile-left">
  <div class="lightblue first">
    <%= link_to image_tag(user.avatar.url(:thumb), :class=>"profile-thumb"), user %>
    <%= link_to user.login, user %>
    <div class="usergenres">
      <% user.cars.each do |car| %>
        <%= link_to image_tag('/images/genres/32/'+car.genre), user_box_path(user, car), :title => car.name %>
      <% end %>
      <%= link_to("", new_user_box_path(@user), :class => "new-car", :title => _("New car")) if @user == current_user && user.cars.count < 3 %>
    </div>

    <div class="profiledata"><%=  user.city %>
      <% if user.country %>
      (<%= user.country.upcase %>)
      <% end %>
    </div>
<%#
Ismerősnek jelöl,
Üzenek
Jelentem
%>
  </div>

  <div class="lightblue usermenu">
    <ul>
      <%= render :partial => "users/usermenu", :locals => { :user => user } %>
    </ul>
  </div>

</div>