<%= render :partial => "myblock", :locals => { :user => @user } %>

<div class="grid_9 omega" id="profile-right">
  <div class="orangebox">
    <% if flash[:error] %>
      <%=flash[:error]%>
    <%end%>

    <%= error_messages_for :user %>
    <% form_for @user, :html => { :class => "user-profile", :multipart => true } do |f| -%>

      <table class="block_table profile-edit usertype-<%= @user.usertype %>">
        <tbody>
          <tr>
            <td>
              <h3 class ="blocktitle">Alapadatok</h3>
              <div class="form-item"><label for="password"><%=_('Password')%></label><br/>
                <%= f.password_field :password %><hr/></div>

              <div class="form-item"><label for="password_confirmation"><%=_('Confirm Password')%></label><br/>
                <%= f.password_field :password_confirmation %><hr/></div>

              <div class="form-item"><label for="nem"><%=_('Gender')%></label><br/>
                <%= f.select :nem, "<option value=1>"+_('Male')+"</option><option value=2>"+_('Female')+"</option>"%><hr/></div>

              <div class="form-item"><label for="country"><%=_('Country')%></label><br/>
                <%= f.select :country, countrylist %><hr/></div>

              <div class="form-item"><label for="city"><%=_('City')%></label><br/>
                <%= f.text_field :city %><hr/></div>

              <div class="form-item">
                <%= image_tag @user.avatar.url(:thumb) %><br/>
                <label for="avatar"><%=_('Avatar')%></label><br/>
                <%= f.file_field :avatar, :size=>15 %><hr/></div>
            </td>
            <td>
              <h3 class ="blocktitle">További adatok</h3>

              <div class="form-item"><label for="name"><%=_('Full name')%></label><br/>
                <%= f.text_field :name %><hr/></div>

              <div class="form-item"><label for="birth"><%=_('Website')%></label><br/>
                <%= f.text_field :website %><hr/></div>

              <div class="form-item"><label for="zip"><%=_('ZIP')%></label><br/>
                <%= f.text_field :zip %><hr/></div>

              <div class="form-item"><label for="address"><%=_('Address')%></label><br/>
                <%= f.text_field :address %><hr/></div>

              <div class="form-item"><label for="phone"><%=_('Phone number')%></label><br/>
                <%= f.text_field :phone %><hr/></div>

              <div class="form-item"><label for="nyitvatartas"><%=_('Opening time')%></label><br/>
                <%= f.text_area :nyitvatartas, :rows=>5 %><hr/></div>

              <div class="form-item"><label for="contact_person"><%=_('Contact person')%></label><br/>
                <%= f.text_field :contact_person %><hr/></div>

              <div class="form-item"><label for="contact_phone"><%=_('Contact phone')%></label><br/>
                <%= f.text_field :contact_phone %><hr/></div>

              <div class="form-item"><label for="about"><%=_('About')%></label><br/>
                <%= f.text_area :about, :rows=>5 %><hr/></div>

              <div class="form-item"><%= submit_tag _('Save') %></div>
            </td>
          </tr>
        </tbody>
      </table>

    <% end -%>
    <hr class="clearblock" />
  </div>
</div>