<%= error_messages_for :user %>
<% form_for :user, :url => users_path, :html => { :class => "user-register" } do |f| -%>

<div class="form-item">
<label for="user_login"><%=_('Nickname')%></label><br/>
<%= f.text_field :login %>
<hr/>
</div>

<div class="form-item">
<label for="user_email"><%=_('Email')%></label><br/>
<%= f.text_field :email %>
<hr/>
</div>

<div class="form-item">
<label for="user_password"><%=_('Password')%></label><br/>
<%= f.password_field :password %>
<hr/>
</div>

<div class="form-item">
<label for="user_password_confirmation"><%= _('Confirm Password') %></label><br/>
<%= f.password_field :password_confirmation %>
<hr/>
</div>

<p><%= submit_tag _('Register') %></p>
<% end -%>
