<div class="listitem">
  <div class="list-header">
    
    <%= image_tag('/images/genres/16/'+car.genre) %>
    <%= link_to(genre(car.genre)+" "+car.name, user_box_path(car.user, car)) %>
    <% if car.ccm != "" %>
    <span class="ccm">
      <%= car.ccm %>cm³
    </span>
    <% end %>

    <% if car.fuel != "" %>
    <span class="fuel">
      <%= car.fuel %>
    </span>
    <% end %>

    <span class="year">
      <%= car.age_grade %>
    </span>
    <span class="rating-avg">
      <%= car.rating_average %>
    </span>
  </div>
  <div class="car-image">
    <%= link_to(image_tag(car.carimages.first.image.url(:thumb)), user_box_path(car.user, car)) if car.carimages.first %>
  </div>
  <div class="description">
    <strong><%= _("Description") %>: </strong><%= shorten(car.description) %>
  </div>
  <hr class="clear" />
</div>