<%= f.error_messages %>

<div id="form-wrapper">
  <div class="form-tabs">
    <ul>
      <li><a href="#data"><%= _("Data") %></a></li>
      <li><a href="#interior"><%= _("Interior") %></a></li>
      <li><a href="#exterior"><%= _("Exterior") %></a></li>
    </ul>

    <div id="data">
      <div class="form-item"><label for="genre"><%=_('Genre')%></label><br/>
        <%= f.select :genre, genrelist(@car.genre) %><hr/></div>

      <div class="form-item"><label for="name"><%=_('Type')%></label><br/>
        <%= f.text_field :name %><hr/></div>

      <div class="form-item"><label for="make"><%=_('Make')%></label><br/>
        <%= f.select :make, makelist(@car.make) %><hr/></div>

      <div class="form-item"><label for="age_grade"><%=_('Age-grade')%></label><br/>
        <%= f.text_field :age_grade %><hr/></div>

      <div class="form-item"><label for="ccm"><%=_('ccm')%></label><br/>
        <%= f.text_field :ccm %><hr/></div>

      <div class="form-item"><label for="fuel"><%=_('Fuel')%></label><br/>
        <%= f.select :fuel, fuellist(@car.fuel) %><hr/></div>

      <div class="form-item"><label for="performance"><%=_('Performance')%></label><br/>
        <%= f.text_field :performance %><hr/></div>

      <div class="form-item"><label for="performance_unit"><%=_('Performance unit')%></label><br/>
        <%= f.select :performance_unit, '<option value="kW">kW</option><option value="HP">HP</option>' %><hr/></div>

      <div class="form-item"><label for="acceleration"><%=_('Acceleration')%></label><br/>
        <%= f.text_field :acceleration %><hr/></div>
      <div class="form-item"><label for="acceleration_unit"><%=_('Acceleration unit')%></label><br/>
        <%= f.select :acceleration_unit, '<option value="km">km</option><option value="mi">mi</option>' %><hr/></div>

      <div class="form-item"><label for="topspeed"><%=_('Top speed')%></label><br/>
        <%= f.text_field :topspeed %><hr/></div>

      <div class="form-item"><label for="torque"><%=_('Torque')%></label><br/>
        <%= f.text_field :torque %><hr/></div>

      <div class="form-item"><label for="color"><%=_('Color')%></label><br/>
        <%= f.select :color, colorlist(@car.color) %><hr/></div>

      <div class="form-item"><label for="km"><%=_('Mileage')%></label><br/>
        <%= f.text_field :km %><hr/></div>
      <div class="form-item"><label for="km_unit"><%=_('Mileage unit')%></label><br/>
        <%= f.select :km_unit, '<option value="km">km</option><option value="mi">mi</option>' %><hr/></div>

      <div class="form-item"><label for="description"><%=_('Description')%></label><br/>
        <%= f.text_area :description %><hr/></div>

      <div class="form-item"><label for="for_sale"><%=_('For sale')%></label><br/>
        <%= f.check_box :for_sale %><hr/></div>

      <div class="form-item"><label for="price"><%=_('Price')%></label><br/>
        <%= f.text_field :price %></div>

      <div class="form-item"><label for="km_unit"><%=_('Price unit')%></label><br/>
        <%= f.select :price_unit, '<option value="huf">HUF</option><option value="eur">EUR</option>' %><hr/></div>

      <div class="form-item"><label for="condition"><%=_('Condition')%></label><br/>
        <%= f.select :condition, conditionlist(@car.condition) %><hr/></div>

      <% f.fields_for @equipment do |eform| -%>
        <div class="equipments">
          <table style="width: 100%">
            <thead>
              <tr>
                <th><%= _("Technical extras") %></th>
                <th><%= _("Comfort extras") %></th>
                <th><%= _("Safety extras") %></th>
                <th><%= _("Further extras") %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%# Technical extras  %>
                  <%= eq_check(:isof, eform) %>
                  <%= eq_check(:full, eform) %>
                  <%= eq_check(:led, eform) %>
                  <%= eq_check(:xen, eform) %>
                  <%= eq_check(:gps, eform) %>
                  <%= eq_check(:dvd, eform) %>
                  <%= eq_check(:cd, eform) %>
                  <%= eq_check(:comp, eform) %>
                  <%= eq_check(:esp, eform) %>
                  <%= eq_check(:vonohorog, eform) %>
                  <%= eq_check(:szinezettuveg, eform) %>
                  <%= eq_check(:manualisvalto, eform) %>
                  <%= eq_check(:osszkerek, eform) %>
                  <%= eq_check(:futheto_tukor, eform) %>
                  <%= eq_check(:alufelni, eform) %>
                  <%= eq_check(:kodlampa, eform) %>
                  <%= eq_check(:szinesuveg, eform) %>
                  <%= eq_check(:cdtar, eform) %>
                  <%= eq_check(:radiosmagno, eform) %>
                </td>
                <td><%# Comfort extras  %>
                  <%= eq_check(:tempomat, eform) %>
                  <%= eq_check(:automatavalto, eform) %>
                  <%= eq_check(:allithatokormany, eform) %>
                  <%= eq_check(:szervo, eform) %>
                  <%= eq_check(:ulesmemoria, eform) %>
                  <%= eq_check(:allithato_hatso_ules, eform) %>
                  <%= eq_check(:allithato_ulesmagassag, eform) %>
                  <%= eq_check(:donthetoules, eform) %>
                  <%= eq_check(:napfenyteto, eform) %>
                  <%= eq_check(:elektromosteto, eform) %>
                  <%= eq_check(:el_ablak_elolhatul, eform) %>
                  <%= eq_check(:elektromos_ablak, eform) %>
                  <%= eq_check(:borbelso, eform) %>
                  <%= eq_check(:elektromos_tukor, eform) %>
                  <%= eq_check(:centralzar, eform) %>
                  <%= eq_check(:automataklima, eform) %>
                  <%= eq_check(:manualklima, eform) %>
                  <%= eq_check(:tolatoradar, eform) %>
                </td>
                <td><%# Safety extras  %>
                  <%= eq_check(:fuggonylegzsak, eform) %>
                  <%= eq_check(:hatsooldallegzsak, eform) %>
                  <%= eq_check(:hatsolegzsak, eform) %>
                  <%= eq_check(:utaslegzsak, eform) %>
                  <%= eq_check(:im, eform) %>
                  <%= eq_check(:legzsakoff, eform) %>
                  <%= eq_check(:vezetolegzsak, eform) %>
                  <%= eq_check(:oldallegzsak, eform) %>
                  <%= eq_check(:bukocso, eform) %>
                  <%= eq_check(:asr, eform) %>
                  <%= eq_check(:abs, eform) %>
                  <%= eq_check(:riaszto, eform) %>
                </td>
                <td><%# Further extras  %>
                  <%= eq_check(:nincsforgalmi, eform) %>
                  <%= eq_check(:csomaghalo, eform) %>
                  <%= eq_check(:faberakas, eform) %>
                  <%= eq_check(:hasznaltauto_beszamitas, eform) %>
                  <%= eq_check(:torzskonyv, eform) %>
                  <%= eq_check(:pluss_karpit, eform) %>
                  <%= eq_check(:kulfoldi_papirok, eform) %>
                  <%= eq_check(:karbantartott, eform) %>
                  <%= eq_check(:kevesetfutott, eform) %>
                  <%= eq_check(:nemdohanyzo, eform) %>
                  <%= eq_check(:szervizkonyv, eform) %>
                  <%= eq_check(:taxi, eform) %>
                  <%= eq_check(:elsotulaj, eform) %>
                  <%= eq_check(:holgytulaj, eform) %>
                  <%= eq_check(:masodiktulaj, eform) %>
                  <%= eq_check(:garancialis, eform) %>
                  <%= eq_check(:garazsbantartott, eform) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end -%>


    </div>

    <div id="interior">
      <div class="form-item"><label for="interior"><%=_('Interior')%></label><br/>
        <%= f.text_area :interior %><hr/></div>
    </div>

    <div id="exterior">
      <div class="form-item"><label for="exterior"><%=_('Exterior')%></label><br/>
        <%= f.text_area :exterior %><hr/></div>
    </div>



  </div>
</div>

<p>
<div class="form-item"><%= submit_tag _('Save') %></div>
</p>
<hr class="clear"/>


<script type="text/javascript">// <![CDATA[

  function check_sale() {
    if ($('car_for_sale').checked);
  }

  $(document).ready(function(){

    $('.form-tabs').tabs();



  });

</script>
