<%= render :partial => "users/myblock", :locals => { :user => @user } %>

<div class="grid_9 omega" id="profile-right">
  <div class="orangebox">

    <div id="car-gallery">
      <div id = "car-photo">
        <%= image_tag(@car.carimages.first.image.url(:car)) if @car.carimages.first %>
      </div>

      <h3 id="car-title">
        <%= image_tag('/images/genres/32/'+@car.genre) %>
        <%= genre(@car.genre)+" "+@car.name %>
        <%= link_to("",user_box_path(@user, @car), :class => "image-edits for-sale") if @car.for_sale %>
        <% if admin_or_current? @user %>
          <%= link_to("",new_user_box_carimage_path(@user, @car), :class => "image-edits add")%>
        <% end %>
      </h3>




      <div id="car-gallery-box">
        <div class="inner">
          <% @car.carimages.each do |image| %>
            <div class="item" id="item_<%= image.id %>">
              <%= link_to(image_tag(image.image.url(:thumb), :class=>"image-thumb", :alt => image.title, :title => image.title),
                image.image.url(:full), :class => "colorbox", :rel=>"gallery")%>
              <% if admin_or_current? @user %>
                <div class="image-admin">
                  <div class="arrowcross"></div>
                  <%= link_to '',
                    edit_user_box_carimage_path(:user_id => @user, :box_id => @car, :id => image.id),
                    :class => "edit"%>

                  <%= link_to '',
                    user_box_carimage_path(:user_id => @user, :box_id => @car, :id => image.id),
                    :confirm => _('Are you sure?'), :method => 'delete', :class => "edit" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="auto-adatok-tabs">
      <% if admin_or_current? @user %>
        <%= link_to("",edit_user_box_path(@user, @car), :class => "image-edits edit")%>
      <% end %>
      <ul>
        <li><a href="#data"> <%= _("Data") %> </a></li>
        <li><a href="#exterior"> <%= _("Exterior") %> </a></li>
        <li><a href="#interior"> <%= _("Interior") %> </a></li>
        <li><a href="#equipment"><%= _("Equipment") %></a></li>
      </ul>

      <div id="data">
        <%= show_filled(_('Price'), @car.price, @car.price_unit) %>
        <%= show_filled(_('Make'), @car.make) %>
        <%= show_filled(_('Age grade'), @car.age_grade) %>
        <%= show_filled(_('ccm'), @car.ccm) %>
        <%= show_filled(_('Performance'), @car.performance, @car.performance_unit) %>
        <%= show_filled(_('Fuel'), fuel_by_id(@car.fuel)) %>
        <%= show_filled(_('0-100km/h'), @car.acceleration.to_s, 's') %>
        <%= show_filled(_('Top speed'), @car.topspeed.to_s) %>
        <%= show_filled(_('Torque'), @car.torque.to_s, 'Nm') %>
        <%= show_filled(_('Color'), _(color_by_id(@car.color.to_i))) %>
        <%= show_filled(_('Mileage'), @car.km.to_s, @car.km_unit) %>
        <%= show_filled(_('Condition'), condition_by_id(@car.condition)) %>
        <hr class="clear"/>
      </div>

      <div id="exterior">
        <label><%= _('Exterior') %></label>
        <span class="data"><%= @car.exterior %></span>
        <hr class="clear"/>
      </div>

      <div id="interior">
        <label><%= _('Interior') %></label>
        <span class="data"><%= @car.interior %></span>
        <hr class="clear"/>
      </div>

      <div id="equipment">
        <%= eq_list @car.equipment if @car.equipment %>

        <hr class="clear"/>
      </div>

    </div>

    <div id="car-equipment">
      <div class="block-header fix small"><h3><%= _("Description") %></h3></div>
      <div class="inner">
        <%= @car.description %>

      </div>
    </div>

    <div id="car-description">
      <div class="block-header fix small"><h3><%= _("Rating") %></h3></div>
      <div class="inner">
        <div class="win-wrapper">

          <div class="tournament-win">
            <%= _("Tournament") %><br/>
            nyert-vesztett<br/>
            <%= @car.tournament_win.to_i.to_s+"/"+@car.tournament_lost.to_i.to_s %>
          </div>

          <div class="combat-win">
            <%= _("Combat") %><br/>
            nyert-vesztett<br/>
            <%= @car.combat_win.to_i.to_s+"/"+@car.combat_lost.to_i.to_s %>
          </div>
        </div>

        <div class="rating">
          <%= ratings_for @car, :remote_options => {:url => rate_user_box_path(@user, @car)} %>
          <%= @car.rating_average %>
          <div class="combat">
          <% if current_user && current_user != @car.user && @car.invitable? %>
            <%= link_to "Challenge", new_user_box_combat_path(@user, @car) %>
          <% end %>
        </div>
        </div>

      </div>
    </div>

    <div id="car-comments">
      <% if logged_in? %>
        <%= link_to_function _('new comment'), "$('#comment-form').show()" %>
        <div id="comment-form" class="editbox">
          <div class="container">
            <%= content_tag 'p', h(flash[:bad_reply]), :class => 'notice' if flash[:bad_reply] %>
            <% form_for(:comment, :url => user_box_path(@user, @car)+'/addcomment') do |f| -%>
              <%= f.hidden_field :reply_to %>
              <%= f.text_area :body, :rows => 8 %>

              <%= submit_tag "Save Reply" %><span class="button_or">or <%= link_to_function 'cancel', "$('#comment-form').hide()" %></span>

            <% end -%>
          </div>
        </div>
      <% end %>

      <%= will_paginate @comments %>
      <% @comments.each do |comment| %>

        <div class="comment" id="comment-<%= comment.id.to_s %>">
          <%= render :partial => "carcomments/comment", :locals => {:comment => comment} %>
          <hr class="clear" />
        </div>

      <% end %>

      <%= will_paginate @comments %>
    </div>

    <hr class="clear" />
  </div>
</div>


<script type="text/javascript">// <![CDATA[
  $(document).ready(function(){

    $('#auto-adatok-tabs').tabs();
    $('a.image-edits.add').colorbox();

  });

<% if admin_or_current? @user %>

    $('.image-admin a.edit').colorbox();
    $('#car-gallery-box .item').hover(function(){
      $(this).children('.image-admin').fadeIn(200);
    }, function(){
      $(this).children('.image-admin').fadeOut(200);
    });

    AUTH_TOKEN=('<%=u form_authenticity_token%>');
    $('#car-gallery-box').unselectable();
    $('#car-gallery-box .inner').sortable({ items:'.item',
      update: function() {
        $.post('<%= user_box_carimages_path(:user_id => @user.id, :box_id => @car.id) %>/sort', '_method=put&authenticity_token='+AUTH_TOKEN+'&'+$(this).sortable('serialize'));
        // location.reload();
      }});

<% end %>

</script>
