<div class="grid_9 alpha" id="layout-left">
  <h1><%= @video.title %></h1>
  <div class="orangebox">

<p>
  <b>Youtube URL:</b>
  <%= link_to @video.url, @video.url %>
</p>

<div class="youtube_video">
  <object width="425" height="355">
    <param name="movie" value="http://www.youtube.com/v/<%= @video.video_id %>&hl=en"></param>
    <param name="wmode" value="transparent"></param>
    <embed src="http://www.youtube.com/v/<%= @video.video_id %>&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
  </object>
</div>

<p>
  <%=h @video.body %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>

  </div>
</div>

<div class="grid_3 omega" id="layout-right">
  <div class="lightblue block">
    <div class="block-header fix small">
      <h3><%= _("Last submitted") %></h3>
    </div>
    <% @last5.each do |video| %>
      <%= render :partial => "last5item", :locals => {:video => video} %>
    <%end%>
    <hr class="clear"/>
  </div>
</div>