<div class="listitem pair <%= cycle('odd', 'even') %>">

  <div class="list-header">
    <div class="challenger">
      <%= image_tag('/images/genres/16/'+combat.challenger.genre) %>
      <%= genre(combat.challenger.genre) %> <%= combat.challenger.name %>
    </div>
    <div class="invited">
      <%= image_tag('/images/genres/16/'+combat.invited.genre) %>
      <%= genre(combat.invited.genre) %> <%= combat.invited.name %>
    </div>
  </div>

  <div class="challenger">
    <div class="image">
      <%= link_to(image_tag(combat.challenger.carimages.first.image.url(:thumb)),
        user_box_path(combat.challenger.user, combat.challenger)) if combat.challenger.carimages.first %>
    </div>
    <div class="details">

    </div>
  </div>

  <div class="invited">
    <div class="image">
      <%= link_to(image_tag(combat.invited.carimages.first.image.url(:thumb)),
        user_box_path(combat.invited.user, combat.invited)) if combat.invited.carimages.first %>
    </div>
    <div class="details">
      
    </div>
  </div>

  <div class="pairstatus">
    <%=
    case combat.status
    when "pending"
      _("Combat starts at 5 AM...")
    when "active"
      render(:partial => "combats/rate", :locals => {:combat => combat})
    end
  %>
  </div>
  <hr class="clear" />

</div>
