<h1>New rssreader</h1>

<% form_for(@rssreader) do |f| %>
  <%= f.error_messages %>

  <div class="form-item"><label for="title"><%=_('Title')%></label><br/>
    <%= f.text_field :name %><hr/></div>
  <div class="form-item"><label for="lang"><%=_('Language')%></label><br/>
    <%= f.text_field :lang %><hr/></div>

  <div class="form-item"><label for="url">URL</label><br/>
    <%= f.text_field :url %><hr/></div>

  <div class="form-item"><%= submit_tag _('Save') %></div>

<% end %>

<%= link_to 'Back', rssreaders_path %>