<div class="grid_3 alpha" id="profile-left">
  <div class="lightblue first">
    <%= image_tag @user.avatar.url(:thumb), :class=>"profile-thumb" %>
    <%= @user.login %>
  </div>
  <div class="lightblue curve">
    <div class="profilehead"><%= _('Full name') %></div>
    <div class="profiledata"><%=  @user.name %></div>
    <div class="profilehead"><%= _('Comments count') %></div>
    <div class="profiledata"><%=  @user.comments_count %></div>
    <div class="profilehead"><%= _('Registration time') %></div>
    <div class="profiledata"><%=  @user.activated_at %></div>
    <hr/>
    <%= _('Last login') %>: <%= @user.last_login %>
  </div>
</div>

<div class="grid_9 omega" id="profile-right">
  <div class="orangebox">

    <table class="block_table">
      <tbody>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Full name') , :var => @user.name } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Comments count') , :var => @user.comments_count } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Registration time') , :var => @user.activated_at } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Gender') , :var => gender(@user.nem.to_i) } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Birth date') , :var => @user.birth.strftime("%Y/%m/%d") } if @user.birth%>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Country') , :var => @user.country } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('City') , :var => @user.city } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('ZIP') , :var => @user.zip } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Address') , :var => @user.address } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Phone') , :var => @user.phone } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('Languages spoken') , :var => @user.langs } %>

        <%= render :partial => "profile_element",
          :locals => { :header => _('About Me') , :var => @user.about } %>

      </tbody>
    </table>
  </div>
</div>

