<%- session_key_name = ActionController::Base.session_options[:key] -%>

<div id="fileQueue"></div>
<a href="javascript:jQuery('#uploadify').uploadifyClearQueue()">Cancel All Uploads</a>
<div id="uploadify">
<% form_for :image, :url=>user_gallery_images_path(params[:user_id], params[:id]),
  :html => { :multipart => true } do |f| %>
  <%= f.file_field :image, :size=>15, :class=>"fileuploader" %><br/>
<% end %>
</div>

<script type="text/javascript">// <![CDATA[
  $(document).ready(function() {
    $("input:file.fileuploader").uploadify({
      'uploader': '/flash/uploadify.swf',
      'script': '<%= user_gallery_images_path(params[:user_id], params[:id]) %>',
      'scriptData'      : {
        "<%=session_key_name%>": "<%=u cookies[session_key_name]%>",
        "authenticity_token": encodeURIComponent('<%=u form_authenticity_token%>'),
        '_http_accept': "application/javascript"
      },


      'fileDataName'  : 'image[image]',
      //'method' : 'get',

      'scriptAccess': 'always', // Incomment this, if for some reason it doesn't work
      'multi': true,
      'auto': true,
      'fileDesc': 'Images (*.jpg; *.jpeg; *.JPG; *.git; *.png)',
      'fileExt': '*.jpg; *.jpeg; *.JPG; *.gif; *.png',
      'sizeLimit': 600000,
      'simUploadLimit': 1,
      'queueID': 'fileQueue',
      'buttonImg': '/images/image-upload.png',
      'width': 80,
      'height': 59,
      'cancelImg': '/images/loading.png',
      'onComplete': function(event, data) { $.getScript(location.href) }, // We assume that we can refresh the list by doing a js get on the current page
      'displayData': 'speed'
    });
  });
</script>

