<% if logged_in? %>

  <%= _('Welcome')+" "+link_to(current_user.login, current_user) %>
  <%= image_tag current_user.avatar.url(:thumb), :class=>"profile-thumb" %>
  <div class="icons">
    <%= link_to("", "/users", :class => "users", :title => _("Users")) %>
    <%= link_to("", edit_user_path(current_user), :class => "edit-profile", :title => _("Edit my profile")) %>
    <%= link_to("", "/logout", :class => "logout", :title => _("Logout")) %>
    
    
  </div>

<% else %>


  <% form_tag session_path do -%>
    <div class="form-item text"><label for="login"><%=_('Email')%></label><br/>
      <%= text_field_tag 'login' %></div>

    <div class="form-item password"><label for="password"><%=_('Password')%></label><br/>
      <%= password_field_tag 'password' %></div>

    <div class="form-item checkbox">
      <%= check_box_tag 'remember_me' %><label for="remember_me"><%= _('Remember me') %></label>
    </div>

    <div class="form-item submit"><%= submit_tag _('Log in') %><%= link_to(_("Register"), "/register", :class => 'register') %><hr/></div>
  <% end -%>
  <% if flash[:login_message] %>
    <%=flash[:login_message]%>
  <%end%>


<% end %>
