<% if logged_in? %>
  <ul class="usermenu">
    <li class="username"><%= _('Welcome')+" "+current_user.login %>
      <ul>
        <%= render :partial => "users/usermenu", :locals => { :user => current_user } %>
      </ul>
    </li>
  </ul>

  <%= link_to(image_tag(current_user.avatar.url(:thumb), :class=>"profile-thumb"), current_user) %>

  <div class="icons">
    <%= link_to("", user_friends_url(current_user), :class => "users", :title => _("My friends")) %>
    <%= link_to("", edit_user_path(current_user), :class => "edit-profile", :title => _("Edit my profile")) %>
    <%= link_to("", "/logout", :class => "logout", :title => _("Logout")) %>

  </div>

<% else %>


  <% form_tag session_path do -%>
    <div class="form-item text"><label for="login"><%=_('Email')%></label>
      <%= text_field_tag 'login', nil, :class => "orange" %></div>

    <div class="form-item password"><label for="password"><%=_('Password')%></label>
      <%= password_field_tag 'password', nil, :class => "orange" %></div>

    <div class="form-item checkbox">
      <%= check_box_tag 'remember_me' %><label for="remember_me"><%= _('Remember me') %></label>
    </div>

    <div class="form-item submit">
      <%= link_to_function "", "$(this).parent().parent().submit()", :class => 'submit' %>
    </div>
  <div class="register">
    <%= link_to(_("Lost password"), "/forgot_password") %> | <%= link_to(_("Register"), "/register") %>
  </div>
  <% end -%>

<% end %>
