<ul>
  <li class="first"><%= link_to _('News'), '/' %></li>
  <li><%= link_to _('Cars'), '/cars' %></li>
  <li><%= link_to _('Clubs'), '/clubs' %></li>
  <li><%= link_to _('Ride Battle'), '/battles' %></li>
  <li><%= link_to _('Forum'), '/forums' %></li>
  <li><%= link_to _('Pictures'), '/pictures' %></li>
  <li><%= link_to _('Videos'), '/videos' %></li>
  <li><%= link_to _('Ads'), '/ads' %></li>
</ul>
