<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=I18n.locale%>">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @title %> | Boxutca</title>
    <%= stylesheet_link_tag("reset") %>
    <%= stylesheet_link_tag("960") %>
    <%= stylesheet_link_tag("text") %>
    <%= stylesheet_link_tag("style") %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'jrails' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= javascript_include_tag 'jquery.maskedinput' %>
    <%= javascript_include_tag 'jquery.selectbox' %>

    <% if @map %>
      <%= GMap.header %>
      <%= @map.to_html %>
    <% end -%>


    <% if (current_user && current_user.has_role?('admin')) %>
      <%= javascript_include_tag 'markitup/jquery.markitup' %>
      <%= javascript_include_tag "markitup/sets/textile/set" %>
      <%= javascript_include_tag 'admin' %>
      <link rel="stylesheet" type="text/css" href="/javascripts/markitup/skins/markitup/style.css" />
      <link rel="stylesheet" type="text/css" href="/javascripts/markitup/sets/textile/style.css" />
    <% end -%>

    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <div class="container_12">
      <div class="grid_12" id="header">

        <div id="langswitcher">
          <% for name, locale in [['Magyar',:hu],['English',:en]]
            localeactive = (I18n.locale == locale)? " active" : ""
          %>
            <%=link_to(name,current_url(:locale=>locale), :class => locale.to_s+localeactive)%>
          <% end %>
        </div>

        <a href="/" id="logo"></a>

        <div id="loginblock">
          <% if logged_in? %>
            <%= _('Welcome')+" "+link_to(current_user.login, '/profile') %>
            <%= link_to(_("Logout"), "/logout") %>
          <% else %>
            <%= render :partial => 'layouts/login' %>
          <% end %>
        </div>

        <div id="menubar">
          <%= render :partial => 'layouts/menu' %>
        </div>

        <div id="searchbar">
          <%= render :partial => 'layouts/searchblock' %>
        </div>
      </div>

      <div class="grid_12" id="content-wrapper">
        <div id="headcurve"></div>
        <% if flash[:notice] %>
          <%=flash[:notice]%>
        <%end%>

        <h1 class="title"><%= @title  %> </h1>
        <%= yield %>

        <div id="footercurve"></div>
      </div>
      <div class="grid_12" id="footer-message">
        © 2009-<%= Time.now.year %> copyright Boxutca Kft. <%= link_to 'Impresszum', '/pages/impresszum' %>
      </div>
    </div>
  </body>
</html>
