<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=I18n.locale%>">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Boxutca</title>
    <%= stylesheet_link_tag("reset") %>
    <%= stylesheet_link_tag("960") %>
    <%= stylesheet_link_tag("text") %>
    <%= stylesheet_link_tag("style") %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery-ui' %>
    <%= javascript_include_tag 'jrails' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <div class="container_12">
      <div class="grid_12">
        <div class="grid_3 alpha">
          <% for name, locale in [['Magyar ?',:hu],['English ?',:en]] %>
            <%=link_to(name,current_url(:locale=>locale))%>
          <% end %>
        </div>
        <div class="grid_9 omega">
          <% if logged_in? %>
            Welcome <%= current_user.login %>
            <%= link_to("Logout", "/logout") %>

          <% else %>
            <%= link_to("Login", "/login") %>
          <% end %>

          <% if flash[:login_message] %>
            <%=flash[:login_message]%>
          <%end%>  
        </div>

      </div>
      <div class="grid_12">
        <% if flash[:notice] %>
          <%=flash[:notice]%>
        <%end%>
        I18n Locale: <%=I18n.locale%> ---- Gettext Locale: <%=FastGettext.locale%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
